<% if !flash[:notice].blank? %>
	<%= flash[:notice] %>
<% end %>

<h1>Index for Invoices</h1>

<div class="invoices index">
	<table>
		<tr>
			<th>Invoice ID</th>
			<th>Product ID</th>
			<th>Action</th>
		</tr>
		<% if !@invoices.empty? %>
			<% @invoices.each do |invoice| %>
			<tr>
				<td class="center"><%= invoice.id %></td>
				<td class="center"><%= invoice.product_id %></td>
				<td class="actions">
					<%= link_to("Delete", { action: "destroy", id: invoice.id }) %>
				</td>
			</tr>
			<% end %>
		<% else %>
			<td class="center", colspan="4">No Invoices Yet</td>
		<% end %>
	</table>
</div>