<h1>Create new product</h1>

<div class="products new">
	<%= form_for(:product, url: { action: "create" }) do |f| %>
		<table summary="Product form fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= f.text_field(:price) %></td>
		</tr>
		</table>

		<div class="form-button">
			<%= submit_tag("Create Product") %>
		</div>

	<% end %>
</div>